* {
    border: none;
    border-radius: 0;
    font-family: SF Mono,LXGW WenKai Mono;
    font-size: 13px;
}

@define-color background #141821;

window#waybar {
    background: transparent;

}

#window {
    color: #3760bf;
    color: #c0caf5;
    background-color: @background;
    margin: 5px 5px 5px 0;
    border-radius: 0 5px 5px 0;
    padding: 5px 5px;
}

#workspaces {
    background-color: @background;
    margin: 5px 0px;
}
#workspaces button {
    padding: 5px 5px;
    color: #8990b3;
}

#workspaces button.active {
    color: @background;
    background-color: #2e7de9;
    border-radius: 5px;
}

#workspaces button:hover {
    color: #2e7de9;
    border-radius: 5px;
}

#keyboard-state,
#cpu,
#tray,
#memory,
#clock,
#battery,
#temperature,
#pulseaudio,
#network {
    background-color: @background;
    color: #cccccc;
    padding: 5px 5px;
    margin: 5px 0px;
}

#custom-power {
    color: @background;
    background-color: #db4b4b;
    border-radius: 0px 5px 5px 0px;
    margin: 5px 10px 5px 0;
    padding: 5px 5px;
}

#custom-launcher {
    font-size: 14px;
    color: #89DCEB;
    background-color: @background;
    margin: 5px 0 5px 10px;
    border-radius: 5px 0px 0px 5px;
    padding:5px 5px;
}

#cpu {
    color: #7dcfff;
    border-radius: 5px 0px 0px 5px;
}

#keyboard-state {
    color: #ffffff;
}

#memory {
    color: #9481b5;
}

#temperature {
    color: #9ece6a;
}

#clock {
    color: #b48ead;
}

#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #cccccc;
    border-radius: 5px;
}

#network {
    color: #f7768e;
}

#pulseaudio {
    color: #e0af68;
}

